deploy_flow/flows/temp.json
[
    {
        "id": "f51dea4f.9de188",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c443720f.10fd4",
        "type": "inject",
        "z": "f51dea4f.9de188",
        "name": "node1",
        "topic": "",
        "payload": "{\"Temperature\":\"\",\"Name\":\"Node 1\"}",
        "payloadType": "json",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "9c27fbdc.c4d9a8"
            ]
        ]
    },
    {
        "id": "9d76a6be.85991",
        "type": "inject",
        "z": "f51dea4f.9de188",
        "name": "node2",
        "topic": "",
        "payload": "{\"Temperature\":\"\",\"Name\":\"Node 2\"}",
        "payloadType": "json",
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "9c27fbdc.c4d9a8"
            ]
        ]
    },
    {
        "id": "dcc13d67.762a8",
        "type": "inject",
        "z": "f51dea4f.9de188",
        "name": "node3",
        "topic": "",
        "payload": "{\"Temperature\":\"\",\"Name\":\"Node 3\"}",
        "payloadType": "json",
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 560,
        "wires": [
            [
                "9c27fbdc.c4d9a8"
            ]
        ]
    },
    {
        "id": "9c27fbdc.c4d9a8",
        "type": "function",
        "z": "f51dea4f.9de188",
        "name": "temperature",
        "func": "msg.payload.Temperature = Math.random() * 10\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "945fc3bb.06f37",
                "e70ba99e.6d2008"
            ]
        ]
    },
    {
        "id": "945fc3bb.06f37",
        "type": "debug",
        "z": "f51dea4f.9de188",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "e70ba99e.6d2008",
        "type": "mqtt out",
        "z": "f51dea4f.9de188",
        "name": "Hive-Broker",
        "topic": "test",
        "qos": "",
        "retain": "",
        "broker": "1e558a10.10437e",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "1e558a10.10437e",
        "type": "mqtt-broker",
        "z": "",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]